torch>=2.1.0
transformers==4.42.3
sentence-transformers==2.2.2
faiss-cpu==1.7.4
python-liquid==1.10.2
openai>=1.0.0
tiktoken==0.6.0
pyserini==0.22.1
datasets==2.16.1
tqdm==4.66.1
pyyaml>=6.0
dataclasses-json>=0.6.0
